<!-- view di layout che vogliamo condividere con le view -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina1</li>
                <li>Pagina2</li>
                <li>Pagina3</li>
                <li>Pagina4</li>
                <li>Pagina5</li>
            </ul>
        </nav>
    </header>

    <!-- qui renderiziamo la nostra view di contenuto -->
    @RenderBody()

    <footer>
        <p>Contattaci al...</p>
    </footer>
</body>
</html>
